@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: #202020 ;
  color: white;
}

.default-nav{
  margin: 0.7rem;
}

.slide img{
  height: 43rem;
}

.control-arrow{
  z-index: 1;
}

.h1-slider{
  font-family: "Great Vibes", cursive;
  font-weight: 700;
  font-style: normal;
}

.p-slider{
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.triangulo{
  position: absolute;
  right: 0.96rem;
  transition: 0.2s;
}

nav{
  transition: 0.2s;
}

nav.abajo{
    background: #2b2a2a;
    padding-top: 0.5rem ;

}

nav .logo-nav{
  transition: 0.2s;
  
}

nav.abajo .logo-nav{
  width: 3.8rem;
  
}

nav .avatar-nav{
  transition: 0.2s;
  margin-right: 0.89rem;
}

nav.abajo .avatar-nav{
  width: 3.8rem;
  margin-right: 1.5rem;
  
}

.dropdown{
  top: 5.9rem;
  transition: 0.2s;
}

.dropdown a{
 padding: 0.39rem;
}

nav.abajo .dropdown{
  top: 4.77rem;
  left: -3.59rem;
}

nav.abajo .dropdown a{
  padding: 0.39rem;
}


.noHome-nav{
  background: #2b2a2a;
  padding-top: 0.5rem ;
}

.noHome-nav .logo-nav{
  width: 3.8rem;
  
}

.noHome-nav .avatar-nav{
  width: 3.8rem;
  margin-right: 1.5rem;
}

.noHome-nav .dropdown{
  top: 4.77rem;
  left: -3.59rem;
}

.noHome-nav .dropdown a{
  padding: 0.39rem;
}

.swal2-modal{
  border-radius: 1.8rem;
}

.swal2-confirm{
  background: #cf7403 ;
}

.icons{
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.nav-list{
  display: flex;
}


@media (max-width: 825px){
  
  nav::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#202020 ;
    backdrop-filter: blur(50px);
    z-index: -5;
  }

  .icons{
    display: block;
    margin-top:0.6rem ;
  }

  .logo-nav{
    width: 3.8rem;
    margin: 0;
  }
 

  .nav-list a{
    display: block;
    font-size: 1.1rem;
    margin: 4.5rem 0;
    text-align: center;
  }

  .icons{
    display: inline-flex;
  }

  #check:checked~.icons #menu-icon{
    display: none;
  }

  .icons #close-icon{
    display: none;
  }

  #check:checked~.icons #close-icon{
    display: block;
  }

  .nav-list{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background:#1e1e1e96 ;
    backdrop-filter: blur(5px);
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
    transition: 0.3s ease;
    overflow: hidden;
  }

  #check:checked~.nav-list{
    height: 100vh;

  }

  nav .avatar-nav{
    width: 3.8rem;
  }

  nav.abajo .avatar-nav{
    margin-right: 0.89rem;
  }

  .noHome-nav .avatar-nav{
    margin-right: 0.89rem;
  }

  .btn-nav{
    padding: 0.3rem;
    font-size: 0.8rem;
    margin: 0rem 0.2rem;
  }

  .nav-login{
    display: flex;
    justify-items: end; 
  }

  .dropdown{
    top: 4.7rem;
    left: -6.5rem;
    transition: 0.2s;
  }

  nav.abajo .dropdown{
    top: 4.7rem;
    left: -6.5rem;
  }

  .noHome-nav .dropdown{
    top: 4.7rem;
    left: -6.5rem;
  }
  
  .triangulo{
    position: absolute;
    right: 0.39rem;
    transition: 0.2s;
  }
  
 
}